.brand-header {
  width: 100vw;
  border-color: #700407;
  border-style: solid;
  border-width: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  flex-direction: column;
  position: relative;
}

.brand-header section {
  padding: 1rem;
  background-color: white;
  right: 0;
  top: 0;
  position: absolute;
}

.brand-header section a {
  color: black;
  text-decoration: none;
}

.brand-background-container {
  width: 100%;
}

.brand-background {
  max-width: 100vw;
  min-height: 200px;
  resize: none;
}

.brand-logo {
  display: none;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .brand-background {
    display: none;
  }

  .brand-logo {
    display: flex;
  }
}

