<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/store.css" />
    <link rel="stylesheet" href="/css/car.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="patterned-bg">
      <section class="store">
        <header>
          <h1 th:utext="${car.name}">...</h1>
          <h2 th:utext="${car.price}">...</h2>
        </header>
        <div class="car">
          <div>
            <p th:utext="${car.description}">...</p>
            <img
              th:src="@{${car.img != null} ? '/img/cars/small/' + ${car.img} : '/img/cars/small/default_image.png'}"
              alt=""
              loading="lazy"
            />
          </div>

          <form
            action="#"
            th:action="@{/cart/add}"
            th:object="${car}"
            method="post"
          >
            <input type="hidden" th:field="*{name}" />
            <input type="submit" value="Add to cart" />
          </form>
          <form
            action="#"
            th:if="${isAdmin}"
            th:action="@{/admin/cars/delete}"
            th:object="${car}"
            method="post"
          >
            <input type="hidden" th:field="*{id}" />
            <input type="submit" value="(Admin) Delete item from store" />
          </form>
          <form
            class="admin-form"
            th:if="${isAdmin}"
            action="#"
            th:object="${car}"
            th:action="@{/admin/cars/patch}"
            method="post"
          >
            <input type="hidden" th:field="*{id}" />
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              th:value="*{name}"
              required
            />

            <label for="price">Price:</label>
            <input
              type="number"
              id="price"
              name="price"
              th:value="*{price}"
              required
            />

            <label for="dlc">DLC:</label>
            <input type="text" id="dlc" name="dlc" th:value="*{dlc}" />

            <label for="img">Image URL:</label>
            <input type="text" id="img" name="img" th:value="*{img}" />

            <label for="capacity">Capacity:</label>
            <input
              type="number"
              id="capacity"
              name="capacity"
              th:value="*{capacity}"
              required
            />

            <label for="description">Description:</label>
            <textarea
              id="description"
              name="description"
              th:value="*{description}"
              th:utext="*{description}"
              required
            >
            ...
            </textarea>
            <button type="submit">Update Car</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
