<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/store.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="patterned-bg">
      <section class="store">
        <header>
          <h1>all vehicles</h1>
          <select name="Sort by price" id="">
            <option value="-">-</option>
            <option value="+">+</option>
          </select>
        </header>
        <ol>
          <li th:each="car : ${cars}">
            <div class="item-header">
              <p th:utext="${car?.dlc} ?: 'From Story Mode'"></p>
            </div>
            <img th:src="@{'./img/cars/' + ${car.img}}" alt="" loading="lazy" />
            <div class="item-footer">
              <p th:utext="${car.name}">...</p>
              <a th:href="@{'/cars/' + ${car.name}}">Buy</a>
            </div>
          </li>
        </ol>
      </section>
    </main>
  </body>
</html>
